/* Footer */
.footer {
    background-color: #f0fdfa;
    margin-top: 64px;
    padding: 32px 80px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 32px;
}

.footer-links div {
    flex: 1;
}

.footer-links a {
    display: block;
    margin: 32px 0;
    text-decoration: none;
    color: #36363E;
}

.footer-bottom {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


